<table class="table table-striped">
  <thead>
    <tr>
      <th>İsim</th>
      <th>Soyisim</th>
      <th>Numara</th>
      <th>Giriş Tarihi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of musteri">
      <td>{{post.name}}</td>
      <td>{{post.surname}}</td>
      <td>{{post.no}}</td>
      <td>{{post.girisTarihi}}</td>
      <div class="btn-group">
      <button (click)="deletePost(post)" class="btn btn-danger text-dark ms-1">Delete</button>
      </div>
      </tr>
  </tbody>
</table>
