<div class="container mt-2 vh-100">
  <div class="row">
    <form class="p-3 bg-light rounded mx-auto" style="width: 500px;margin-top: 100px;" #form="ngForm"
      (ngSubmit)="register()">
      <div class="mb-3">
        <label class="form-label"><b>Name</b></label>
        <input required minlength="5" maxlength="25" type="text" name="name" class="form-control"
          [(ngModel)]="model.name">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Username</b></label>
        <input required minlength="5" maxlength="25" type="text" name="username" class="form-control"
          [(ngModel)]="model.username">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Email</b></label>
        <input required minlength="5" maxlength="25" type="email" name="email" class="form-control"
          [(ngModel)]="model.email">
      </div>
      <div class="mb-3">
        <label class="form-label"><b>Password</b></label>
        <input required minlength="5" maxlength="25" type="password" name="password" class="form-control"
          [(ngModel)]="model.password">
      </div>
      <div class="d-grid">
        <button [disabled]="form.invalid" class="btn text-white" style="background-color: #4450BC;" type="submit">Register</button>
      </div>
      <p class="mt-2">By signing up you agree to Terms of Service & Privacy Policy.</p>
    <a [routerLink]="['/login']">Already have account? Login!</a>
    </form>
  </div>
</div>
